@media screen and (max-width: 600px){
  .aboutme{
    height: auto;
}

.aboutme > .content-container{
    width: 90%;
    margin: 6vw auto 4vw auto;
}

.aboutme-header{
    margin: 0 auto 12vw auto;
    display: flex;
    justify-content: center;
    column-gap: 1vw;
}

.aboutme-header h2{
    font-size: 7vw;
    font-weight: 500;
    margin: 0;
}

.aboutme-header h3{
    font-size: 7vw;
    font-weight: 500;
    margin: 0;
    color: rgba(166, 65, 184, 1);
}

.aboutme-text > p{
    font-size: 4.5vw;
}

.checked{
    color: rgba(166, 65, 184, 1);
}

.aboutme-skills{
    margin-top: 8vw;
}

.aboutme-skills h2{
    font-weight: 400;
    font-size: 7vw;
    text-align: center;
}

.aboutme-skills-stars{
    display: flex;
    column-gap: 5vw;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 5vw;
    margin-top: 10vw;
}

.aboutme-skills-stars > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 5vw;
    width: 100%;
}

.stars-item{
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 1vw;
    justify-content: space-between;
    border-radius: 0.5vw;
    padding: 3vw 6vw 3vw 6vw;

    font-size: 5vw;

    -webkit-box-shadow: 0px 0px 27px 3px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 27px 3px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 27px 3px rgba(0, 0, 0, 1);
}
}

@media screen and (min-width: 600px){
  .aboutme{
    height: auto;
}

.aboutme > .content-container{
    width: 75%;
    margin: 3vw auto 2vw auto;
}

.aboutme-header{
    margin: 0 auto 6vw auto;
    display: flex;
    justify-content: center;
    column-gap: 0.8vw;
}

.aboutme-header h2{
    font-size: 3.5vw;
    font-weight: 500;
    margin: 0;

    /* filter: drop-shadow(0vw 0.1vw 0.2vw rgba(238,240,242,0.4));
    -webkit-filter: drop-shadow(0vw 0.1vw 0.2vw rgba(238,240,242,0.4));
    -moz-filter: drop-shadow(0vw 0.1vw 0.2vw rgba(238, 240, 242, 0.4)); */
}

.aboutme-header h3{
    font-size: 3.5vw;
    font-weight: 500;
    margin: 0;
    color: rgba(166, 65, 184, 1);

    /* filter: drop-shadow(0vw 0.1vw 0.3vw rgba(166, 65, 184, 0.61));
    -webkit-filter: drop-shadow(0vw 0.1vw 0.3vw rgba(166, 65, 184, 0.61));
    -moz-filter: drop-shadow(0vw 0.1vw 0.3vw rgba(166, 65, 184, 0.61)); */
}

.aboutme-text > p{
    font-size: 1.75vw;
}

.checked{
    color: rgba(166, 65, 184, 1);
}

.aboutme-skills{
    margin-top: 4vw;
}

.aboutme-skills h2{
    font-weight: 400;
    font-size: 3vw;
    text-align: center;
}

.aboutme-skills-stars{
  margin-top: 4vw;
    display: flex;
    column-gap: 5vw;
    justify-content: center;
}

.aboutme-skills-stars > div{
    display: flex;
    flex-direction: column;
    row-gap: 3vw;
}

.stars-item{
    display: flex;
    align-items: center;
    column-gap: 1vw;
    justify-content: space-between;
    border-radius: 0.5vw;
    padding: 1vw 2vw 1vw 2vw;

    font-size: 1.5vw;

    -webkit-box-shadow: 0px 0px 27px 3px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 27px 3px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 27px 3px rgba(0, 0, 0, 1);
}

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
   }
  
  
  .mouse_scroll {
      display: block;
      margin: 0 auto;
      width: 1.9vw;
      height: 7.8vw;

      transition: 0.5s;

      position: absolute;
      top: calc(100vh - 16vw);
      left: 2.5vw;
  }
  
  
  .m_scroll_arrows
  {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
     
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 0 3px 4px;
    
    width: 16px;
    height: 16px;
  }
  
  
  .unu
  {
    margin-top: 1px;
  }
  
  .unu, .doi, .trei
  {
      -webkit-animation: mouse-scroll 1s infinite;
      -moz-animation: mouse-scroll 1s infinite;
      animation: mouse-scroll 1s infinite;
    
  }
  
  .unu
  {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
    
    animation-direction: alternate;
    animation-delay: alternate;
  }
  
  .doi
  {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
    
    animation-delay: .2s;
    animation-direction: alternate;
    
    margin-top: -6px;
  }
  
  .trei
  {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;
    
    animation-delay: .3s;
    animation-direction: alternate;
    
    
    margin-top: -6px;
  }
  
  .mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid white;
    top: 170px;
  }
  
  .wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;
    
    height: 4px;
    width: 4px;
    border: 2px solid #fff;
    -webkit-border-radius: 8px;
            border-radius: 8px;
  }
  
  .wheel {
    -webkit-animation: mouse-wheel 0.6s linear infinite;
    -moz-animation: mouse-wheel 0.6s linear infinite;
    animation: mouse-wheel 0.6s linear infinite;
  }
  
  @-webkit-keyframes mouse-wheel{
     0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  
    100% {
      opacity: 0;
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @-moz-keyframes mouse-wheel {
    0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  @-o-keyframes mouse-wheel {
  
     0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  @keyframes mouse-wheel {
  
     0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  
  @-webkit-keyframes mouse-scroll {
  
    0%   { opacity: 0;}
    50%  { opacity: .5;}
    100% { opacity: 1;}
  }
  @-moz-keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }
  @-o-keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }
  @keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }
}
