@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

::-webkit-scrollbar {
    width: 0.5vw;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(66, 66, 66);
    border-radius: 0.3vw;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(46, 46, 46);
}

html{
    scroll-behavior: smooth;
    padding-bottom: 25vw;
}

body{
    background-color: #131218;
    font-family: 'Fredoka', sans-serif;
    overflow-x: hidden;
}

.container{
    margin: 0 auto;
    width: 100vw;
    position: relative;
}

.content{
    width: 100vw;
    color: rgb(215, 214, 214);
    transition: 0.6s;
}

.menu{
    display: flex;
    justify-content: space-between;
    color: rgb(215, 214, 214);
}

.navbar{
    display: flex;
    column-gap: 4vw;
    user-select: none;
}

.navbar-button-container{
    display: flex;
    align-items: center;
    pointer-events: none;
    transition: 0.3s;
}

.navbar-button-container span{
    cursor: pointer;
    pointer-events:all;
    
    transition: 0.3s;
}

.navbar-button-container span:hover{
    transform: scale(1.1);
}

.navbar-active > span{
    color: rgba(166, 65, 184, 1);
    filter: drop-shadow(0vw 0.1vw 0.3vw rgba(166, 65, 184, 0.61));
    -webkit-filter: drop-shadow(0vw 0.1vw 0.3vw rgba(166, 65, 184, 0.61));
    -moz-filter: drop-shadow(0vw 0.1vw 0.3vw rgba(166, 65, 184, 0.61));

    transform: scale(1.2);

    pointer-events: none;
}

.logo{
    display: flex;
    column-gap: 0.5vw;

    cursor: default;
    user-select: none;
}

.logo-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-text h2{
    font-family: 'Signika Negative', sans-serif;
}

.hero{
    position: absolute;
    top: 5vw;
    width: 100vw;
    height: calc(100vh - 5vw);
    
    background-image: url("../assets/home/hero.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text{
    margin-top: -6vw;
    background-color: rgba(19, 18, 24, 0.6);

    font-family: 'Signika Negative', sans-serif;
    text-align: center;
}

.hero-text > h1{
    font-weight: 400;
}

.hero-caption > h2{
    font-weight: 400;
}

.hero-caption{
    display: flex;
}

.hero-accent{
    font-weight: 400;
    color: rgba(166, 65, 184, 1);
    filter: drop-shadow(0vw 0.1vw 0.2vw rgba(166, 65, 184, 0.6));
    -webkit-filter: drop-shadow(0vw 0.1vw 0.2vw rgba(166, 65, 184, 0.6));
    -moz-filter: drop-shadow(0vw 0.1vw 0.2vw rgba(166, 65, 184, 0.6));
}

.purple-accent{
    color: rgba(166, 65, 184, 1);
}


@media screen and (max-width: 600px){
    .content{
        position: initial;
        height: auto;
        margin-top: 25vw;
    }

    .menu{
        position: fixed;
        padding: 2vw 5% 1vw 5%;
        width: 100vw;
        z-index: 20;
        background-color: #131218;
        -webkit-box-shadow: 0px 0px 2vw 2vw #131218;
        -moz-box-shadow: 0px 0px 2vw 2vw #131218;
        box-shadow: 0px 0px 2vw 2vw #131218;
    }
    
    .navbar{
        font-size: 3vw;
    }

    .navbar-button-container span:active{
        transform: scale(1.1);
    }

    .logo img{
        width: 12vw;
        height: 12vw;
    }

    .logo-text h2{
        font-size: 3.2vw;
    }

    .hidden-m{
        display: none!important;
    }

    .aboutme{
        margin-top: 0;
    }

    .home{
        height: 100vh;
        margin-top: 0;
    }

    .hero-text{
        padding: 6vw;
        border: 0.5vw solid black;
        border-radius: 2.5vw;
    }

    .hero-text > h1{
        margin-bottom: 4vw;
        font-size: 7vw;
    }

    .hero-caption > h2{
        font-size: 4vw;
    }

    .hero-caption{
        column-gap: 1vw;
    }

    .hero-accent{
        font-size: 4vw;
    }
}

@media screen and (min-width: 600px){
    .content{
        position: absolute;
        height: 100vh;
    }

    .menu{
        position: absolute;
        left: 12.5%;
        top: 2vw;
        width: 75%;
        z-index: 2;
    }
    
    .navbar{
        font-size: 1.5vw;
    }

    .navbar-button-container:hover{
        -webkit-box-shadow: inset -0px -0.2vw 0px 0px rgba(166, 65, 184, 1);
        -moz-box-shadow: inset -0px -0.2vw 0px 0px rgba(166, 65, 184, 1);
        box-shadow: inset -0px -0.2vw 0px 0px rgba(166, 65, 184, 1);
        filter: drop-shadow(0vw 0.1vw 0.3vw rgba(166, 65, 184, 0.61));
        -webkit-filter: drop-shadow(0vw 0.1vw 0.3vw rgba(166, 65, 184, 0.61));
        -moz-filter: drop-shadow(0vw 0.1vw 0.3vw rgba(166, 65, 184, 0.61));
    }

    .logo img{
        width: 6vw;
        height: 6vw;
    }

    .logo-text h2{
        font-size: 1.6vw;
    }

    .hidden{
        display: none;
    }

    .hero-text{
        padding: 4vw;
        border: 0.4vw solid black;
        border-radius: 1.5vw;
    }

    .hero-text > h1{
        margin-bottom: 2vw;
        font-size: 4.5vw;
    }

    .hero-caption > h2{
        font-size: 2.5vw;
    }

    .hero-caption{
        column-gap: 0.7vw;
    }

    .hero-accent{
        font-size: 2.5vw;
    }
}