@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

body{
    background-color: #1E212B;
    margin: 0;
}

@media screen and (min-width: 1366px){
    .container{
        margin: 0 auto;
        width: 75vw;
        position: relative;
    }

    .menu{
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        color: #EEF0F2;
    }
    
    .navbar{
        display: flex;
        column-gap: 5vw;
    }

    .menu img{
        width: 50px;
    }
}